/************************************************/
/* Utils                                        */
/************************************************/
.u\:banner {
  max-height: 400px;
  object-fit: cover;
}

.u\:banner-text {
  background-color: rgba(0, 0, 0, .7);
}

.zi\:normal {
  z-index: 10;
}

.zi\:tooltip {
  z-index: 100;
}

.alert\:fixed {
  position: fixed;
  top: 20px;
  right: 20px;
}

/************************************************/
/* Progress bar height */
/************************************************/
.progress {
  height: 10px;
}

/* Fash sales carousel */
@media (max-width: 767px) {
  .u\:slider > .carousel-inner .carousel-item > div {
    display: none;
  }
  .u\:slider > .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.u\:slider > .carousel-inner .carousel-item.active,
.u\:slider > .carousel-inner .carousel-item-next,
.u\:slider > .carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  .u\:slider > .carousel-inner .carousel-item-end.active,
  .u\:slider > .carousel-inner .carousel-item-next {
    transform: translateX(16.66%);
  }

  .u\:slider > .carousel-inner .carousel-item-start.active,
  .u\:slider > .carousel-inner .carousel-item-prev {
    transform: translateX(-16.66%);
  }
}

.u\:slider > .carousel-inner .carousel-item-end,
.u\:slider > .carousel-inner .carousel-item-start {
  transform: translateX(0);
}
